/*
Theme Name: iseptest
Theme URI: https://nabratte@bitbucket.org/nabratte/iseptest.git
Description: Tema demostración para tutorial de cómo hacer un tema WordPress
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

@import url('https://fonts.googleapis.com/css?family=Poppins');

*{  
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0%;
}


nav{    
    background-color: #daac00 ;
    padding: 0%;
}

.navbar-brand{
    padding-left: 5rem;
    display: flex;
}

/*Style of Menu*/    
.menu{
    display: flex;
}

.menu li{
    padding-left: 2rem;
    text-decoration: none;
    text-align: center;
    margin: 2.5%;
}

.menu a{
    text-decoration: none;
    color: white;
    display: flex;
    font-size: 150%;
}

.seacrch-container{
    display: flex;
}


.search-form{
    display: flex;
    background-color:#fcc302;
}

.searcher-form {
    padding-left: 1rem;
    background-color:#fcc302;
    text-decoration: none;
    border: none;
    display: flex;
}

.search{
    display: flex;
    border: none;
}

/*Style of First Page*/    
.fst{
    background-color: #fcc302;
    color: white;
    margin: 0%;
    padding-bottom: 5%;
    padding-top: 5%;
    display: inline-flex;
}

.fst .grid1 .col_left h2{
    font-weight: 700;
    font-size: 300%;
    padding-top: 15%;
}

.fst .grid1 .col_left h3{
    padding-top: 5%;
    font-size: 200%;
}

.dog_img{
    display: flex;
    max-width: 30vmax;
}

.fst .grid1 .col_left .buttons{
    padding-top: 10%;
}

.fst .buttons {
    display: inline-flex;
}

/*Style of Second Page*/    
.snd{
    padding: 10%;
    background-color: white;
    color: #313243;
    display: inline-flex;
}

.snd .grid1 .col_left h2{
    
    font-size: 300%;
    padding-top: 10%;
}

.snd .grid1 .col_left h3{
    
    font-size: 160%;
    padding-top: 10%;
}

.snd .grid1 .col_left .buttons{
    padding-top: 10%;
}

/*Style of Third Page*/    
.trd{
    display: flexbox;
    padding: 5%;
    background-color: #fcc302;
    color: white;
    text-align: center;
}

.trd .mid-title{
    display: flexbox;
    padding-left: 25%;
    padding-right: 25%;
}

.trd .mid-title h2{
    font-size: 400%;
    font-weight: 700;
}

.trd .mid-title h3{
    padding-top: 5%;
    font-size: 200%;
}

/*Style of Fourth Page*/    
.frd{
    padding: 10%;
    background-color: white;
    color: #313243;
    display: inline-flex;
}

.frd .grid1 .col_right {
    display: flex-box;
    padding-right: 20%;
}

.frd .grid1 .col_right h2{
    text-align: end;
    font-size: 300%;
    padding-top: 10%;
}

.frd .grid1 .col_right h3{
    text-align: end;
    font-size: 160%;
    padding-top: 10%;
}

.frd .grid1 .col_right .buttons{
    display: flex;
    padding-top: 10%;
    float: right;
}

/*Style of Fiveth Page*/    
.fiv{
    display: flexbox;
    padding: 5%;
    background-color: #fcc302;
    color: white;
    text-align: center;
}

.fiv .mid-title{
    display: flexbox;
    padding-left: 25%;
    padding-right: 25%;
}

.fiv .mid-title h2{
    font-size: 400%;
    font-weight: 700;
}

.fiv .mid-title h3{
    padding-top: 5%;
    font-size: 200%;
}

.fiv .buttons{
    display: inline-block;
    padding-top: 10%;
}

.fiv .buttons .main-button{
    display: inline-flexbox;
    font-size: 125%;
    border-radius: 15% / 50%;
    width: 60%;
    justify-content: center;
    font-weight: 700;
}

.fiv .precios{
    display: block;
    padding-top: 5%;
}

.fiv .precios h3{
    display: inline-block;
}

/*Style of Sixth Page*/    
.six{
    display: flexbox;
    padding: 8%;
    background-color: white;
    color: #313243;
    text-align: center;
}

.six .mid-title{
    display: flexbox;
    padding-left: 25%;
    padding-right: 25%;
}

.six .mid-title h2{
    font-size: 400%;
    font-weight: 700;
}

.six .mid-title h3{
    padding-top: 5%;
    font-size: 200%;
}

.social_media{
    padding-top: 5%;
}

.social_media button{
    border-style: none;
    border-radius: 50%;
}

/*Style of Seventh Page*/    
.sev{
    display: inline-flex;
    background-image: url("img/img13.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding-top: 10%;
    padding-bottom: 10%;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: 50% 0px;
}

.sev h3{
    font-size: 200%;
    font-weight: 500;
}
.sev h4{
    font-size: 200%;
    font-weight: 700;
}
/*Style of Eighth Page*/    
.eig{
    display: inline-flexbox;
    padding: 5%;
    background-color: #f0f0f0;
    color: #313243;
    text-align: center;
}

.eig .mid-title{
    display: flexbox;
    padding-left: 25%;
    padding-right: 25%;
}

.eig .mid-title h2{
    font-size: 400%;
    font-weight: 700;
}

.eig .mid-title h3{
    padding-top: 5%;
    font-size: 200%;
}

.eig .grid2 {
    display: inline-flexbox;
}

.eig .grid2 .post-content{
    margin: 5%;
    margin-top: 0%;
    padding-bottom: 5%;
    display: inline-flexbox;
    box-sizing: border-box;
    border: solid rgba(179, 179, 179, 0.678) 2px;
    border-top: none;
    text-align: start;
}

.eig .grid2 .col_mid .post-content{
    margin: 5%;
    margin-top: 0%;
    display: inline-flexbox;
    box-sizing: border-box;
    border: none;
    background-color: white;
}

.eig .grid2 .post-content h3{
    padding-left: 10%;
    text-align: start;
    font-size: 150%;
    font-weight: 700;
}

.eig .grid2 .post-content h4{
    padding-left: 10%;
    padding-bottom: 5%;
    text-decoration: none;
    text-align: start;
    font-size: 90%;
    color: #00bec9;
    font-weight: 400;
}

.eig .grid2 .post-content h5{
    padding-left: 10%;
    padding-bottom: 5%;
    text-align: start;
    font-size: 110%;
    font-weight: 400;
}

.eig .grid2 .post-content a{
    padding-left: 10%;
    text-decoration: none;
    text-align: start;
    font-size: 120%;
    color: #00bec9;
    font-weight: 600;
}


/*Style of Nineth Page*/    
.nin{
    display: flex;
    padding: 10%;
    background-color: #343434;
    color: white;
}

.nin .col_left{
    padding-top: 2%;
    display: inline-flex;
    padding-left: 0%;
}

.nin .col_right{
    display: inline-flex;
    padding-right: 0%;
    text-align: end;
}

.nin .col_right h2{
    font-size: 250%;
    font-weight: 600;
}

.nin .col_right h3{
    font-size: 180%;
    font-weight: 300;
}

.nin .col_right .telegram {
    padding-top: 5%;
}

.nin li{
    padding-top: 5%;
    text-decoration: none;
    list-style: none;
}

.nin a{
    color: white;
    text-decoration: none;
    font-size: 130%;
}

.nin .social_media button{
    padding-top: 5%;
    padding-right: 2%;
    background-color: transparent;
    border-radius: 50%;
}

.nin .social_media .wp{
    padding-right: 0%;
    background-color: transparent;
    border-radius: 50%;
}

.nin .sub_col_left h2{
    font-size: 250%;
}

.nin .sub_col_right h2{
    font-size: 250%;
}

/*Style of Simple Gride*/    
.grid1{
    margin: 0%;
    display:inline-flex;
    width: 100%;
    justify-content: center;
}

.grid1 .col_left{
    width:80%;
    display: inline-flexbox;
    justify-content: center;
}


.grid1 .col_right{
    display: inline-block;
    vertical-align: top;
}

/*Style of Sub Gride*/ 

.grid1 .col_left .sub_grid {
    display: inline-flex;
}

.grid1 .col_left .sub_col {
    display: inline-block;
    vertical-align: top;
}

.grid1 .col_left .sub_col_left {
    display: inline-block;
    vertical-align: top;
}

.grid1 .col_left .sub_col_right {
    display: inline-block;
    vertical-align: top;
}

/*Style of Triple Column Gride*/ 

.grid2{
    text-align: center;
    display:inline-flex;
    padding-top: 5%;
}

.grid2 .col_left{
    padding-top: 5%;
    display: flexbox;
}

.grid2 .col_mid{
    padding-top: 5%;
    display: flexbox;
}

.grid2 .col_right{
    padding-top: 5%;
    display: flexbox;
}

.grid2 .col_left h3{
    display: flexbox;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 250%;
}

.grid2 .col_left h4{
    display: flexbox;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 150%;
}

.grid2 .col_mid h3{
    display: flexbox;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 250%;
}

.grid2 .col_mid h4{
    display: flexbox;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 150%;
}

.grid2 .col_right h3{
    display: flexbox;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 250%;
}

.grid2 .col_right h4{
    display: flexbox;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 150%;
}

/*button style*/

.main-button{
    display: inline-flex;
    background-color: #00bec9;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: solid;
    border-color: #00bec9;
    border-radius: 0.5vmax;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.secondary-button{
    display: inline-flex;
    background-color: #fcc302;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: solid;
    border-color: white;
    border-radius: 0.5vmax;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}